body, h1, h2, h3, h4, h5, h6, .navbar-custom { 
    font-family: Arial,sans-serif, Meiryo,"メイリオ"; 
}
body {
	font-size: 16px;
	font-size: 1rem;
	background: #f7f7f7;
}
code {
	color: #DB4D6D;
}
.logo__title {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	font-size: 48px;
	font-size: 3rem;	
}

pre,
code,
kbd,
samp {
	font-family: Consolas, Menlo, Meiryo,"メイリオ"; 
}