body, h1, h2, h3, h4, h5, h6, .navbar-custom { 
    font-family: Helvetica,"Sawarabi Gothic",Meiryo,"メイリオ","Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN",YuGothic,"游ゴシック",Arial,sans-serif; 
}
body {
	font-size: 16px;
	font-size: 1rem;
	background: #f7f7f7;
}
code {
	color: #DB4D6D;
}
.logo__title {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	font-size: 48px;
	font-size: 3rem;	
}