@font-face {
	font-family: 'Ubuntu';
	src: url('/css/font/Ubuntu-Bold.ttf') format('truetype');
}
body {
	font-size: 16px;
	font-size: 1rem;
	background: #f7f7f7;
}
code {
	color: #DB4D6D;
}
 
.logo__title {
	font-family: 'Ubuntu', sans-serif;
	font-size: 48px;
	font-size: 3rem;	
}